:host ::ng-deep {

        .user-add {
            button {
                font-family: 'myFont';
                font-weight: 600;
                margin-right: 0.8rem;
                .add-button {
                    cursor: pointer;
                    font-size: 25px;
                    vertical-align: bottom;
                }
            }
        }
        #search-form input {
            font-family: 'myFont';
            font-weight: 400;
        }
       
        
        .search-wrapper {
            position: relative;
        }
        .form-control-position {
            position: absolute;
            top: 2px;
            right: 0;
            z-index: 2;
            display: block;
            width: 2.5rem;
            height: 2.5rem;
            line-height: 2.5rem;
            text-align: center;
        }
        .has-icon-left {
            .form-control-position {
                right: auto;
                left: inherit;
            }
            .form-control {
                padding-right: .85rem;
                padding-left: 2.95rem;
            }
        }
        .has-icon-right {
            .form-control {
                padding-right: 2.5rem;
            }
        }
        ::ng-deep .ngx-datatable .datatable-footer {
            border-top: 2px solid rgba(95, 93, 93, 0.521);
            padding-top: 5px;
            font-size: 20px;
        }
        ::ng-deep .ngx-datatable .datatable-header {
            border-bottom: 2px solid rgba(95, 93, 93, 0.521);
            font-size: 18px;
        }
        ::ng-deep .ngx-datatable .datatable-body .datatable-row-wrapper {
            border-bottom: 1px solid rgb(204, 198, 198);
            &:last-child {
                border: 0;
            }
        }
        ::ng-deep .ngx-datatable .datatable-body .datatable-row-detail {
            border-top: 2px solid green;
            border-bottom: 2px solid green;
            .detail {
                border-bottom: 1px solid rgb(204, 198, 198);
                padding: 10px 5px;
                &:last-child {
                    border: 0;
                }
            }
        }

        ::ng-deep .ngx-datatable .datatable-body-cell, .ngx-datatable .datatable-header-cell{
            overflow: initial !important;
            margin-top: 10px;
          
        }
        ::ng-deep .ngx-datatable .datatable-footer .datatable-pager .pager li:nth-child(3) a::after {
            content: "/";
            font-size: 20px;
        }
        ::ng-deep .ngx-datatable .datatable-footer .datatable-footer-inner {
            text-align: center;
    direction: ltr;
        }}

