
    <form class="mt-5" *ngIf="!isVisible">

        <label>جستجو</label>
        
        <input  (keyup)="updateFilter($event)"  />

    </form>
    <app-form-orders  [visibleBtn]="isVisible" (OnclickCancel)="closeMe($event)" (OnclickInsert)="InsertOrders($event)" [myOrdersData]="myOrdersData" [rows]="rows" ></app-form-orders>
      
 
    <div class="mt-5" *ngIf="!doRefresh">

        <ngx-datatable #myTable class="bootstrap  expandable" [scrollbarH]="scrollBarHorizontal" [messages]="messages" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5" [rows]="rows">
            <ngx-datatable-row-detail [rowHeight]="'auto'" #myDetailRow >
                <ng-template let-row="row" let-value="subject" let-expanded="expanded" ngx-datatable-row-detail-template>
                <div class="mt-3 mb-2">
                    <input id="title" type="text" class="form-control f-15 mb-2 d-inline-block width-300 ml-5 mr-5 font" name="title" #title="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="row.title" placeholder="عنوان"  >
                    <input id="subject" type="text" class="form-control f-15 mb-2 d-inline-block width-300 ml-5 font" name="subject" #subject="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="row.subject" placeholder="موضوع"  >
                    <input id="trackingCode" type="text" class="form-control f-15 mb-2 d-inline-block width-300 font" name="trackingCode" #trackingCode="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="row.trackingCode" placeholder="کد رهگیری"  >
                    <button class="float-left ml-4 b-green c-white width-60" (click)="editRow()"> 
                      
        <i class="fa fa-edit  align-middle f-18 ml-1 "></i>

                        
                         </button>
                </div>
                </ng-template>
                
              </ngx-datatable-row-detail>
            <ngx-datatable-column prop="" name="#" [width]="100" [resizeable]="false" [draggable]="false" [sortable]="false" [canAutoResize]="true">
                <ng-template let-row="row" let-rowIndex="rowIndex"  ngx-datatable-cell-template>
                    <button class="b-none" >
        <i class="fa fa-list  align-middle f-18 ml-1 "></i>
                     
                    </button>
                </ng-template>
            </ngx-datatable-column>
           
            <ngx-datatable-column prop="title" name="عنوان" [width]="300" [resizeable]="false" [draggable]="false" [sortable]="false" [canAutoResize]="true">
                <ng-template let-row="row" let-value="title" ngx-datatable-cell-template>
                    <h6 [innerHTML]="row.title" class="c-black f-15 mb-0 font"></h6>

                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="subject" name="موضوع" [width]="200" [resizeable]="false" [draggable]="false" [sortable]="false" [canAutoResize]="true">
                <ng-template let-row="row" let-value="subject" ngx-datatable-cell-template>
                
                    <h6 [innerHTML]="row.subject" class="c-black f-15 mb-0 font"></h6>

                </ng-template>

            </ngx-datatable-column>
            <ngx-datatable-column prop="trackingCode" name="کد پیگیری" [width]="300" [resizeable]="false" [draggable]="false" [sortable]="false" [canAutoResize]="true">
                <ng-template let-row="row" let-value="trackingCode" ngx-datatable-cell-template>
                    <h6 [innerHTML]="row.trackingCode" class="c-black f-15 mb-0 font"></h6>

                </ng-template>
            </ngx-datatable-column>
          
            <ngx-datatable-column name="" [resizeable]="false" [draggable]="false" [sortable]="false" [canAutoResize]="true" class="text-left">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="action" ngx-datatable-cell-template>
                    <button class="width-60 b-none" >
        <i class="fa fa-edit align-middle f-18 ml-1 " (click)="toggleExpandRow(row)" ></i>
                   
                  </button>
                    <button class="width-60 b-none"  >
        <i class="fa fa-trash   align-middle f-18 ml-1 " (click)="onRemoveRow(rowIndex)" ></i>
                 
                </button>
                 

                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template let-rowCount="rowCount" let-pageSize="pageSize" let-selectedCount="selectedCount" let-curPage="curPage" let-offset="offset" let-isVisible="isVisible">
                    <div class="page-count dir-rtl">
                        <span *ngIf="false">
                         </span> {{rowCount.toLocaleString()}} رکورد
                    </div>
                    <datatable-pager [pagerLeftArrowIcon]="'datatable-icon-left'" [pagerRightArrowIcon]="'datatable-icon-right'" [pagerPreviousIcon]="'datatable-icon-prev'" [pagerNextIcon]="'datatable-icon-skip'" [page]="curPage" [size]="pageSize" [count]="rowCount" [hidden]="!((rowCount / pageSize) > 1)"
                        (change)="table.onFooterPage($event)">
                    </datatable-pager>
                </ng-template>
            </ngx-datatable-footer>
        </ngx-datatable>
    </div>