:host {
    display: block;
    overflow: hidden;
    .breadcrumb {
        display: flex;
        flex-wrap: wrap;
        font-size: 1.2rem;
        list-style-type: none;
        font-weight: bold;
        margin: 0;
        padding: 0;
       
        li {
           
            a,
            .static {
                .icon {
                    font-size: 1rem;
                    margin-right: 11px;
                    .rtl & {
                        margin-left: 11px;
                        margin-right: 0;
                    }
                }
            }
            .separator {
                color: rgba(#000, .4);
                font-size: 30px;
                margin: 0 0.3rem;
            }
        }
        &.custom-1 {
            margin: -2px -7px;
           
            li {
                margin: 2px 7px;
               
                a,
                .static {
                    background-color: #424141;
                    border-color: #424141;
                    color: blue;
                    display: inline-block;
                    height: 36px;
                    padding: 7px 2rem 3px;
                    position: relative;
                    transition: background .2s   ease-in-out, color .2s ease-in-out;
                    vertical-align: top;
                   
                    &:before,
                    &:after {
                        border-style: solid;
                        border-color: transparent;
                        content: '';
                        display: block;
                        height: 0;
                        position: absolute;
                        top: 0;
                        transition: border-color .2s  ease-in-out;
                        width: 0;
                       
                    }
                    &:before {
                        border-width: 36px 10px 0 0;
                        border-right-color: inherit;
                        left: -10px;
                    }
                    &:after {
                        border-width: 0 0 36px 10px;
                        border-left-color: inherit;
                        right: -10px;
                    }
                }
                a {
                    &:hover {
                        color: #F3D261;
                    }
                }
                .static {
                    opacity: .6;
                }
                .separator {
                    display: none;
                }
                &:first-child {
                    a,
                    .static {
                        &:before {
                            display: none;
                        }
                        .rtl & {
                            &:before {
                                display: block;
                            }
                            &:after {
                                display: none;
                            }
                        }
                    }
                }
                &:last-child {
                    a,
                    .static {
                        &:after {
                            display: none;
                        }
                        .rtl & {
                            &:before {
                                display: none;
                            }
                            &:after {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
     
    }
}