
<a href="#" class="open-navbar" (click)="openNavbar($event)">
    <i class="fa fa-chevron-left"></i>
  </a>

<div class="navbar-wrap">
    <div class="navbar-header">
       سامانه 
    </div>

    <div class="navbar-content">
        <div>
              
<nav>
    <ul class="pr-0">
        <li class="mb-4">
            <a class="f-18 c-white" routerLink="">
        <i class="fa fa-home  align-middle f-18 ml-1 c-white"></i>

                    داشبورد</a>
        </li>
        <li>
            <a class="f-18 c-white" [routerLink]="['/orders']">	
        <i class="fa fa-shopping-cart  align-middle f-18 ml-1 c-white"></i>

                سفارشات</a>
            
        </li>
    </ul>
</nav>
        </div>
    </div>
</div>