
<a href="#" class="open-navbar" (click)="openNavbar($event)">
    <i class="fa fa-chevron-left"></i>
  </a>

<div class="navbar-wrap">
    <div class="navbar-header">
       سامانه 
    </div>

    <div class="navbar-content">
        <div>
              
<nav>
    <ul class="pr-0">
        <li class="mb-4">
            <a class="f-18 c-white" routerLink="">	<mat-icon class="align-middle">dashboard</mat-icon>داشبورد</a>
        </li>
        <li>
            <a class="f-18 c-white" [routerLink]="['/orders']">	<mat-icon class="align-middle">shopping_cart</mat-icon>سفارشات</a>
            
        </li>
    </ul>
</nav>
        </div>
    </div>
</div>