
<a href="#" class="open-navbar" (click)="openNavbar($event)">
    <i class="fa fa-chevron-left"></i>
  </a>

<div class="navbar-wrap">
    <div class="navbar-header">
       سامانه 
    </div>

    <div class="navbar-content">
        <div>
              
<nav>
    <ul>
        <li>
            <a routerLink="">داشبورد</a>
        </li>
        <li>
            <!-- <a routerLink="/orders">سفارشات</a> -->
<button routerLink="/orders">سفارشات</button>

        </li>
      
    </ul>
</nav>
        </div>
    </div>
</div>