



<div class="col-lg-12 col-sm-12 col-md-12 p-r-0 insert-info mb-3  dir-rtl">
  <div class="timer">
    {{counter | formatTime}}
  </div>
      <div class="card">
          <div class="header-title text-right mb-3">

              <h5 class="text-muted submit-btn"><i class="fa fa-angle-double-left  align-middle f-18 ml-1"></i><span *ngIf="myAction === 'EDIT'"> ویرایش </span><span *ngIf="myAction === 'NEW'"> ایجاد </span>کاربر </h5>

          </div>
          <div class="card-content">

              <form class="mt-1"  #f="ngForm" (ngSubmit)="onSubmit()">
                  <input id="firstName" type="text" class="form-control f-15 mb-2" [textMask]="{mask: letterPattern}" placeholder="نام"
                  name="firstName" #firstName="ngModel" [(ngModel)]="myUserData.firstName"   required>
                  <span class="form-text text-danger float-right  mb-2" *ngIf="!firstName.valid && firstName.touched">لطفا نام  را به درستی وارد کنید</span>

                  <input id="lastName" type="text" class="form-control f-15 mb-2" [textMask]="{mask: letterPattern}" placeholder="نام خانوادگی "
                  name="lastName" #lastName="ngModel" [(ngModel)]="myUserData.lastName" required>
                  <span class="form-text text-danger float-right  mb-2" *ngIf="!lastName.valid && lastName.touched">لطفا نام خانوادگی را به درستی وارد کنید</span>

                  <input id="phoneNo" type="text" class="form-control f-15 mb-2" [textMask]="{mask: mask}" placeholder="شماره موبایل"
                  name="phoneNo" #phoneNo="ngModel" [(ngModel)]="myUserData.phoneNo" required>
                  <span class="form-text text-danger float-right  mb-2" *ngIf="!phoneNo.valid && phoneNo.touched">لطفا شماره موبایل  را به درستی وارد کنید</span>

                  <input id="email" type="text" class="form-control f-15 mb-2" placeholder="ایمیل "
                  name="email" #email="ngModel" [(ngModel)]="myUserData.email" email required>
                  <span class="form-text text-danger float-right  mb-2" *ngIf="!email.valid && email.touched">لطفا ایمیل  را به درستی وارد کنید</span>

                  <input id="fromSalary" type="text" class="form-control f-15 mb-2" min="0" [textMask]="{mask: maskAmount}" placeholder="رنج حقوق از"
                  name="fromSalary" #fromSalary="ngModel" [(ngModel)]="myUserData.fromSalary" required>
                  <span class="form-text text-danger float-right  mb-2" *ngIf="!fromSalary.valid && fromSalary.touched ">لطفا  رنج حقوق  را به درستی وارد کنید</span>

                  <input id="toSalary" type="text" class="form-control f-15 mb-2" min="myUserData.fromSalary" [textMask]="{mask: maskAmount}" placeholder="رنج حقوق تا"
                  name="toSalary" #toSalary="ngModel" [(ngModel)]="myUserData.toSalary" required>

                  <span class="form-text text-danger float-right  mb-2" *ngIf="!toSalary.valid && toSalary.touched">لطفا شماره رنج حقوق  را به درستی وارد کنید</span>
                  <span class="form-text text-danger float-right  mb-2" *ngIf=" myUserData.fromSalary > myUserData.toSalary">رنج مبلغ از , باید از رنج مبلغ از , بزرگتر باشد </span>

              <div>
                <label for="">تصویر خود را وارد کنید</label>
                <image-uploader [image]="'assets/img/icon/attachment.png'" [limitSize]="200" [width]="50" [height]="50"  (errorMessages)="errorMg($event)" ></image-uploader>

                <div class="col-12 text-center" *ngIf="errorMessages !== ''">
                  <p class="c-danger bold">
                      <i class="fa fa-exclamation-circle fa-lg m-l-5 faa-flash animated"></i>
                      <span>{{errorMessages}}</span>
                  </p>
              </div>
              </div>

                <div class="mt-5">
                  <button  type="submit"  [disabled]="!f.valid" class="text-light c-white b-green">
                    <span *ngIf="myAction === 'EDIT'"> ویرایش </span><span *ngIf="myAction === 'NEW'"> ایجاد </span>
                      </button>

                </div>
              </form>

          </div>
      </div>
  </div>
